* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #004aad;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.container h1 {
  font-size: 55px;
  text-align: center;
  margin-bottom: 5px;
}

.exchange-rate {
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.quadroUm {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  min-width: 100vh;
  min-height: 20vh;
  margin-top: 5.5rem;
}

.currency-box {
  display: flex;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  gap: 10px;
}

.currency-box select {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-group input {
  background: #004aad;
  width: 100%;
  color: white;
  padding: 21.5px;
  border-radius: 20px;
  align-items: center;
  border: none;
  transition: 1.2s;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  box-shadow: none;
}

.form-group input:hover {
  letter-spacing: 0.09rem;
}

.form-group input::placeholder{
  color: #fff;
}

button {
  background: #fff;
  color: #333;
  padding: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 3.5rem;
  min-width: 50vh; 
  font-size: 1rem;
  transition: 1.2s;
}

button:hover {
  letter-spacing: 0.09rem;
}

.form-group-valor {
  display: grid;
  text-align: justify;
  margin-top: 3.5rem;
}

.form-group-valor input {
  background: #fff;
  min-width: 60vh;
  color: #333;
  padding: 20px;
  border-radius: 35px;
  align-items: center;
  border: none;
  transition: 1.2s;
  font-size: 1rem;
}

.form-group-valor input:hover {
  letter-spacing: 0.09rem;
}

.form-group-valor input:focus {
  outline: none;
  box-shadow: none;
}

.flag {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 99px;
  margin-top: 10px;
}



